<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Subscription Manager</title>
</head>
<body>
<h2>Welcome to home page <span sec:authentication="principal.username">User</span> ! </h2>

        <table border = "1">
            <tr>
                <th> Username </th>
                <th> Youtube_Access </th>
                <th> Instagram_Access </th>
                <th> VK_Access </th>
                <th> Facebook_Access </th>
                <th> Edit </th>
            </tr>

            <tr th:each = "user : ${users}">
                <form action="#" method="POST" th:action="@{/home}" id="saveChanges" th:object="${user}" >
                    <td> <input type="text" name="username"  readonly th:value = "${user.username}"> </td>
                    <td> <input type = "checkbox" th:value="Permitted" name = "youtubeAccess" th:checked = "${#strings.equals(user.youtube, 'Permitted')}"> </td>
                    <td> <input type = "checkbox" th:value="Permitted" name = "instagramAccess" th:checked = "${#strings.equals(user.instagram, 'Permitted')}"> </td>
                    <td> <input type = "checkbox" th:value="Permitted" name = "vkAccess" th:checked = "${#strings.equals(user.vk, 'Permitted')}"> </td>
                    <td> <input type = "checkbox" th:value="Permitted" name = "facebookAccess" th:checked = "${#strings.equals(user.facebook, 'Permitted')}"> </td>
                    <td> <input type="submit" value="Save"> </td>
                </form>
            </tr>

        </table>


<div th:name="${userIns}"> Hey </div>

<br>
<p> <a th:href="@{/logout}"> Log Out </a> </p>

</body>
</html>